{% extends 'base.html.twig'  %}

{% block title %}{{ parent() }} | Back Office{% endblock %}

{% block titreh1 %}Back Office{% endblock %}


{% block body %}


    <h2 class="text-center">Bonjour {{ app.user.prenom }}</h2>

    

{% endblock %}
